<section>
  <h1>Acerca de mi</h1>
  <p>Ingeniero de Sistema con énfasis en Tele-informática, con cursos 
  	en áreas de programación y bases de datos, diplomado en Arquitectura
  	y Desarrollo de Aplicaciones para Internet, pasantía en Java EE en 
  	India-Mysore con la empresa Infosys. Laboralmente, proyecto SIMCIE 
  	de la Universidad EAFIT y la Alcaldía de Medellín, y también 
  	proyecto RLT (Rectores Líderes Transformadores) igualmente de la 
  	Universidad EAFIT. Desarrollador y amante de Ruby on Rails para 
  	las empresas SPS (Servicios Personalizados de Sistemas) y 
  	Visionamos. Siempre con la voluntad de agregar experiencias nuevas 
  	a mi vida.
  </p>
</section>